<div id="<%= dom_id pet_history %>">
  
   <p>
    <strong>Mascota:</strong>
    <%= pet_history.pet_id %>
  </p>
  
  <p>
    <strong>Peso:</strong>
    <%= pet_history.weight %>
  </p>

  <p>
    <strong>Tamaño:</strong>
    <%= pet_history.height %>
  </p>

  <p>
    <strong>Diagnóstico:</strong>
    <%= pet_history.diagnosis %>
  </p>


</div>
